<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
   Example Angular Material {{title}}!
  </mat-toolbar>  
</div>
<hr>

<div class="container">
  <button mat-raised-button color="primary" data-toggle="modal" data-target="#myModal">Add</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>
         
        </th>
        <th>
          
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
        <td>
          <button type="button" (click) = "deleteUser(user.id)" class="btn btn-danger">Del</button>
        </td>
      </tr>
     
    </tbody>
  </table>
  <hr>
 
  
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <user></user>     
    </div>
  </div>
</div>


<div class="col-md-6 col-md-offset-3">
  <div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
    
      <div>
        <div class="col-md-4" *ngFor="let image of selectedImages">                    
              <img src={{image}} class="img-responsive" />           
        </div>
      </div>
 
    </div>
    
    <a (click) = "previousBlock()" class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a (click) = "nextBlock()" class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>
  </div>

 
