<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
   Example Angular Material {{title}}!
  </mat-toolbar>  
</div>
<hr>
<div class="container">
  <button mat-raised-button color="primary" data-toggle="modal" data-target="#myModal">Add</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>
         
        </th>
        <th>
          
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
        <td>
          <button type="button" (click) = "deleteUser(user.id)" class="btn btn-danger">Del</button>
        </td>
      </tr>
     
    </tbody>
  </table>
  <hr>
 
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <user></user>     
    </div>
  </div>
</div>

